<mat-card>
  <mat-card-header>
    <mat-card-title>Adicionar Grupo Clase</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Grupo docente:</mat-label>
        <select matNativeControl formControlName="grupoDocente" required>
          <option *ngFor="let grupoDocente of grupoDocentes" [ngValue]="grupoDocente"
                  [hidden]="!grupoDocente.habilitado">{{grupoDocente.nombre}}
          </option>
        </select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Asignatura:</mat-label>
        <select matNativeControl formControlName="asignatura" required>
          <option *ngFor="let asignatura of asignaturas" [ngValue]="asignatura" [hidden]="!asignatura.habilitado">
            {{asignatura.nombre}}
          </option>
        </select>
      </mat-form-field>
      <br>
      <div>
        <label for="habilitado">¿Habilitado?:</label>
        <input type="checkbox" formControlName="habilitado" id="habilitado">
      </div>
      <br>
      <mat-card-actions>
        <button mat-raised-button title="Crear">
          <mat-icon svgIcon="check"></mat-icon>
        </button>
        <button mat-raised-button title="Cancelar" (click)="cancelar()">
          <mat-icon svgIcon="cancel"></mat-icon>
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
