<mat-card>
  <mat-card-header>
    <mat-card-title>Editar respuesta a observación</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Título:</mat-label>
        <input matInput disabled value="{{observacion?.titulo}}">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Cuerpo:</mat-label>
        <textarea matInput cdkTextareaAutosize disabled value="{{observacion?.cuerpo}}"></textarea>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Respuesta:</mat-label>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5" formControlName="cuerpo" required></textarea>
      </mat-form-field>
      <br>
      <mat-card-actions>
        <button mat-raised-button title="Actualizar">
          <mat-icon svgIcon="update"></mat-icon>
        </button>
        <button mat-raised-button title="Cancelar" (click)="cancelar()">
          <mat-icon svgIcon="cancel"></mat-icon>
        </button>
      </mat-card-actions>
      <input formControlName="id" style="visibility: hidden">
    </form>
  </mat-card-content>
</mat-card>
