<mat-card>
  <mat-card-header>
    <mat-card-title>Lista de militancias</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input matInput (keyup)="buscar($event.target.value)" placeholder="Buscar por tipo">
    </mat-form-field>
    <mat-icon svgIcon="magnify"></mat-icon>
    <table>
      <thead>
      <tr>
        <th>Acciones</th>
        <th>Tipo</th>
        <th>Habilitado</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let militancia of militanciasPaginadas">
        <td>
          <button mat-icon-button title="Mostrar" (click)="mostrarMilitancia(militancia)">
            <mat-icon svgIcon="page-layout-body"></mat-icon>
          </button>
        </td>
        <td>{{militancia.tipo}}</td>
        <td>{{militancia.habilitado}}</td>
      </tr>
      </tbody>
    </table>
    <mat-paginator [length]="militanciasFiltradas?.length" [pageSize]="tamannoPagina"
                   [pageSizeOptions]="opcionesTamannoPagina" [showFirstLastButtons]="true"
                   (page)="paginar($event)"></mat-paginator>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button title="Adicionar" (click)="adicionarMilitancia()">
      <mat-icon svgIcon="plus"></mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
